<section class="phx-hero">
  <%= if @username do %>
    <%= live_render(@conn, EnysenWeb.ChannelLive.Player, session: %{"username" => @username, "live_video_source" => @live_video_source, "current_user" => @current_user, "edit_mode" => false }) %>
    <%= live_render(@conn, EnysenWeb.ChannelLive.FollowButton, session: %{"channel_owner" => @username, "current_user_id" => (if is_nil(@current_user), do: nil, else: @current_user.id) }) %>
  <% else %>
    <h1>user cannot be found</h1>
  <% end %>
</section>
<script defer type="text/javascript" src="http://cdn.dashjs.org/latest/dash.all.min.js"></script>
