<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Enysen", suffix: "" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-head">
        <div class="container">
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <%= link "Home", to: "/", method: :get, class: "navbar-item" %>
                <a class="navbar-item">
                  Browse
                </a>
              </div>

              <div class="navbar-end">
                <%= if @current_user do %>
                  <%= link "Channel", to: "/#{@current_user.username}", method: :get, class: "navbar-item" %>
                  <%= link "Dashboard", to: "/u/dashboard", method: :get, class: "navbar-item" %>
                  <%= link "Settings", to: Routes.pow_registration_path(@conn, :edit), class: "navbar-item" %>
                  <%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete, class: "navbar-item" %>
                <% else %>
                  <div class="navbar-item">
                    <div class="buttons">
                      <%= link "Sign In", to: Routes.pow_session_path(@conn, :new), method: :get, class: "button is-dark" %>
                      <%= button "Register", to: Routes.pow_registration_path(@conn, :new), method: :get, class: "button is-dark is-outlined" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="hero-body">
        <%= @inner_content %>
      </div>
    </section>
    <!--<header>
      <div class="menu">
        <img class="menu__branding" src="<%= Routes.static_path(@conn, "/images/enysen_bird.svg") %>" alt="Enysen" style="width:2em">
        <input type="text" class="menu__search-bar" placeholder="search">
        <nav role="navigation">
          <ul class="menu__list">
            <%= if @current_user do %>
              <li class="menu__list__item"><%= link "Channel", to: "/#{@current_user.username}", method: :get %></li>
              <li class="menu__list__item"><%= link "Dashboard", to: "/u/dashboard", method: :get %></li>
              <li class="menu__list__item"><%= link "Settings", to: Routes.pow_registration_path(@conn, :edit) %></li>
              <li class="menu__list__item"><%= link "Sign out", to: Routes.pow_session_path(@conn, :delete), method: :delete %></li>
            <% else %>
              <li class="menu__list__item"><%= button "Sign In", to: Routes.pow_session_path(@conn, :new), method: :get, class: "menu__button" %></li>
              <li class="menu__list__item"><%= button "Register", to: Routes.pow_registration_path(@conn, :new), method: :get, class: "menu__button--secondary" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>-->
  </body>
</html>
